<%#  console.log(article); %>
<%#  console.log(drafts); %>

<div class="page-header">
	<h1><%= $.t('Articles - Edit') %></h1>
</div>

<div class="hero-unit">
	<form class="article">

		<input type="hidden" name="id" id="id" <%= article.id ? "value=" + article.id : "" %> />

		<% if (drafts.length) { %>
			<div class="row pull-right">
				<div>
					<label for="drafts"><%= $.t('Drafts / Templates')%></label>
				</div>
				<select name="drafts">
					<option></option>
					<% $.each(drafts, function(i, draft){ %>
						<%
						var timestamp = Date.parse(draft.timestamp);
						var draftDate = timestamp.toString('yyyy-MM-dd');
						var draftTime = timestamp.toString('HH:mm');

						var editUrl = can.route.url({ page: 'articles', action: 'edit-draft', id: draft.id });
						var deleteUrl = can.route.url({ page: 'articles', action: 'delete-draft', id: draft.id });
						%>
						<option <%= (el) -> el.data( 'article', draft ) %> value="<%= draft.id %>"><%= draft.data.title %> (<%= draftDate+' '+draftTime %>)</options>
					<% }) %>
				</select>
			</div>
		<% } %>

		<div class="row">
			<div>
				<label for="title"><%= $.t('Title')%></label>
			</div>
			<input class="span4 title" type="text" name="title" id="title" placeholder="<%= $.t('Add Title')%>"
				value="<%= article.attr('title') %>" >
		</div>

		<div class="row">
			<div>
				<label for="slug"><%= $.t('Slug')%></label>
			</div>
			<input class="span4 slug" type="text" name="slug" id="slug" placeholder="<%= $.t('Press "slug" button to generate slug from title')%>"
				value="<%= article.attr('slug') %>" >
			<button class="btn btn-mini slug-from-title"><%= $.t('slug from title')%></button>
		</div>

		<div class="row">
			<div>
				<label for="category"><%= $.t('Category')%></label>
			</div>
			<select name="category" id="category" data-placeholder="<%= $.t('Choose category')%>" class="chzn-select category">
				<% if (category) { %>
					<% $.each(category, function(i, cat){ %>
					<%
						var selected = false;
						if (article.category) {
							if (article.category.id == cat.id) {
								selected = true;
							}
						}
					%>
						<option value="<%= cat.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
							<%= cat.title %>
						</option>
					<% }) %>
				<% } %>
			</select>
		</div>

		<div class="row">
			<div>
				<label for="authors"><%= $.t('Author(s)')%></label>
			</div>
			<select name="authors[]" id="authors" data-placeholder="<%= $.t('Choose authors')%>" class="chzn-select span4 authors" multiple>
				<% if (author) { %>
					<% $.each(author, function(i, a){ %>
					<%
						var selected = false;
						if (article.authors) {
							for (var i = 0; i < article.authors.length; i++) {
								if (article.authors[i]['id'] == a.id) {
									selected = true;
									break;
								}
							}
						}
					%>
						<option value="<%= a.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
							<%= a.name %>
						</option>
					<% }) %>
				<% } %>
			</select>
			<button class="btn btn-mini add-author"><%= $.t('add new author')%></button>
		</div>

		<div id="photos-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><%= $.t('Insert image') %></h3>
            </div>
            <div class="modal-body">
            	<table class="table">
				<% list(photos, function(photo, index) { %>
					<tr <%= (el) -> el.data( 'photo', photo) %>>
						<td><input class="pick" type="radio" name="photo" /></td>
						<td><img class="pick" src="<%= photo.public_url %>" height="50" /></td>
						<td><%= photo.title %></td>
						<td>
							<form class="snippet-params">
								<select class="span2" name="size">
									<option value="mala"><%= $.t('Small')%></option>
									<option value="standard"><%= $.t('Medium')%></option>
									<option value="velka"><%= $.t('Large')%></option>
								</select>
								<select class="span2" name="format">
									<option value="ctverec">ctverec</option>
									<option value="nudle_sirka">nudle_sirka</option>
									<option value="nudle_vyska">nudle_vyska</option>
									<option value="obdelnik_sirka">obdelnik_sirka</option>
									<option value="obdelnik_vyska">obdelnik_vyska</option>
								</select>

								<table>
									<tr>
										<td><label for="resizable"><input type="checkbox" name="resizable" value="1" />&nbsp;<%= $.t('Resizable') %></label></td>
										<td><label for="author"><input type="checkbox" name="authors" value="1" />&nbsp;<%= $.t('Authors') %></label></td>
									</tr>
									<tr>
										<td><label for="description"><input type="checkbox" name="description" value="1" />&nbsp;<%= $.t('Description') %></label></td>
										<td><label for="source"><input type="checkbox" name="source" value="1" />&nbsp;<%= $.t('Source') %></label></td>
									</tr>
								</table>

								<label for="align">
									<%= $.t('Align')%>:&nbsp;
									<select class="span2" name="align">
										<option value="right"><%= $.t('Right')%></option>
										<option value="left"><%= $.t('Left')%></option>
										<option value="center"><%= $.t('Center')%></option>
									</select>
								</label>

								<label for="align">
									<%= $.t('External url')%>:&nbsp;
									<input class="span2" type="text" name="url" />
								</label>

							</form>
						</td>
					</tr>
				<% }); %>
				</table>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal"><%= $.t('Close') %></button>
              <button class="btn btn-primary insert-photo"><%= $.t('Insert') %></button>
            </div>
		</div>

		<div class="row">
			<div>
				<label for="content"><%= $.t('Content')%></label>
			</div>
			<textarea class="content" rows="10" name="content" placeholder="<%= $.t('Add Content')%>" <%= article.attr('content') ? "" : "class='empty'" %>><%= article.content %></textarea>
		</div>

		<div class="row" id="photos-preview"></div>

		<div class="row">
			<div>
				<label for="description"><%= $.t('Description')%></label>
			</div>
			<textarea class="description" name="description" id="description" placeholder="<%= $.t('Add Description')%>" <%= article.attr('description') ? "" : "class='empty'" %>><%= article.description %></textarea>
		</div>

		<div class="row">
			<div class="alert alert-error" id="date-alert">
				<strong><%= $.t('The end date can not be less then the start date') %></strong>
			</div>
		</div>

		<div class="row">
			<div>
				<label for="publish_from"><%= $.t('Publish From')%></label>
			</div>
			<input class="span2 publish_from" type="datetime-local" name="publish_from_date" id="publish_from_date" value="<%= article.publish_from_date %>" />

			<input type="text" class="timepicker-default span1 publish_from" name="publish_from_time" id="publish_from_time" value="<%= article.publish_from_time %>" />
		</div>

		<div class="row">
			<div>
				<label for="publish_to"><%= $.t('Publish To')%></label>
			</div>
			<input class="span2 publish_to" type="datetime-local" name="publish_to_date" id="publish_to_date" value="<%= article.publish_to_date %>" />

			<input type="text" class="timepicker-default span1" name="publish_to_time" id="publish_to_time" value="<%= article.publish_to_time %>" />
		</div>

		<div class="row">
			<div>
				<label for="tags"><%= $.t('Tag(s)')%></label>
			</div>
			<select name="tags[]" id="tags" data-placeholder="<%= $.t('Choose tags')%>" class="chzn-select span4 tags" multiple>
				<% if (tag) { %>
					<% $.each(tag, function(i, t){ %>
					<%
						var selected = false;
						if (article.tags) {
							for (var i = 0; i < article.tags.length; i++) {
								if (article.tags[i]['id'] == t.id) {
									selected = true;
									break;
								}
							}
						}
					%>
						<option value="<%= t.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
							<%= t.name %>
						</option>
					<% }) %>
				<% } %>
			</select>
			<button class="btn btn-mini add-tag"><%= $.t('add new tag')%></button>
		</div>

		<div class="row">
			<div>
				<label for="state"><%= $.t('State')%></label>
			</div>
			<select name="state" id="state" data-placeholder="<%= $.t('Choose state')%>" class="chzn-select state">
				<% if (states) { %>
					<% $.each(states, function(i, state){ %>
					<%
						var selected = false;
						if (article.state == state) {
							selected = true;
						}
					%>
						<option value="<%= state %>" <%= selected ? "selected=selected" : "" %>>
							<%= state %>
						</option>
					<% }) %>
				<% } %>
			</select>
		</div>

		<div class="row">
			<label for="published"><%= $.t('Published')%>
				<input class="published" type="checkbox" name="published" id="published" <%= article.published ? 'checked' : '' %> value="true" />
			</label>

			<label for="static"><%= $.t('Static')%>
				<input class="static" type="checkbox" name="static" id="static" <%= article.static ? 'checked' : '' %> value="true" />
			</label>
		</div>

	</form>

	<div class="row">
		<div class="buttons">
			<a href="javascript://" class="btn btn-primary article-save"><%= $.t('Save')%></a>
			<a href="javascript://" class="btn btn-info autosave"><%= $.t('Autosave')%></a>
			<a href="javascript://" class="btn cancel"><%= $.t('Cancel without saving')%></a>
		</div>
	</div>
</div>

<div id="author-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><%= $.t('Add new author') %></h3>
	</div>
	<div class="modal-body">
		<form>
			<label for="name">Name</label>
			<input type="text" name="author-name" />

			<label for="author-slug">Slug</label>
			<input type="text" name="author-slug" />

			<button class="btn btn-mini slug-from-name"><%= $.t('slug from name')%></button>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal"><%= $.t('Close') %></button>
		<button class="btn btn-primary insert-author"><%= $.t('Insert') %></button>
	</div>
</div>

<div id="tag-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><%= $.t('Add new author') %></h3>
	</div>
	<div class="modal-body">
		<form>
			<label for="name">Name</label>
			<input type="text" name="tag-name" />

			<label for="author-slug">Slug</label>
			<input type="text" name="tag-slug" />

			<button class="btn btn-mini slug-from-name"><%= $.t('slug from name')%></button>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal"><%= $.t('Close') %></button>
		<button class="btn btn-primary insert-tag"><%= $.t('Insert') %></button>
	</div>
</div>