<%#  console.log(article); %>
<%#  console.log(relatedArticles); %>

<div class="page-header">
	<h1><%= $.t('Articles - Edit') %></h1>
</div>

<div class="hero-unit">
	<form class="article">

		<input type="hidden" name="id" id="id" <%= article.id ? "value=" + article.id : "" %> />

		<div class="row pull-right">

			<button class="btn btn-normal encyclopedia"><%= $.t('Encyclopedia')%></button>

			<% if (drafts.length) { %>
				<button class="btn btn-normal draft-select"><%= $.t('Drafts / Templates')%></button>
			<% } %>
		</div>



		<div class="control-group row">
			<label class="control-label" for="title"><%= $.t('Title')%></label>
			<div class="controls">
				<input class="title" type="text" name="title" id="title" placeholder="<%= $.t('Add Title')%>"
				value="<%= article.attr('title') %>" >
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="slug"><%= $.t('Slug')%></label>
			<div class="controls">
				<input class="slug" type="text" name="slug" id="slug" placeholder="<%= $.t('Press "slug from title" button to generate slug')%>"
				value="<%= article.attr('slug') %>" >
				<span class="help-inline"></span>
				<button class="btn btn-mini slug-from-title"><%= $.t('slug from title')%></button>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="category"><%= $.t('Category')%></label>
			<div class="controls">
				<select name="category" id="category" data-placeholder="<%= $.t('Choose category')%>" class="chzn-select category">
				<% if (category) { %>
					<% $.each(category, function(i, cat){ %>
					<%
						var selected = false;
						if (article.category) {
							if (article.category.id == cat.id) {
								selected = true;
							}
						}
					%>
						<option value="<%= cat.resource_uri %>" <%= selected ? "selected=selected" : "" %>><%= cat.title %></option>
					<% }) %>
				<% } %>
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="authors"><%= $.t('Author(s)')%></label>
			<div class="controls">
				<select name="authors[]" data-placeholder="<%= $.t('Choose authors')%>" class="chzn-select authors-article authors" multiple>
				<% if (author) { %>
					<% $.each(author, function(i, a){ %>
					<%
						var selected = false;
						if (article.authors) {
							for (var i = 0; i < article.authors.length; i++) {
								if (article.authors[i]['id'] == a.id) {
									selected = true;
									break;
								}
							}
						}
					%>
						<option value="<%= a.resource_uri %>" <%= selected ? "selected=selected" : "" %>><%= a.name %></option>
					<% }) %>
				<% } %>
				</select>
				<span class="help-inline"></span>
				<button class="btn btn-mini add-author-articles"><%= $.t('add new author')%></button>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="source"><%= $.t('Source')%></label>
			<div class="controls">
				<select name="source" class="source" id="source" data-placeholder="<%= $.t('Choose source')%>" class="chzn-select article-source">
				<option></option>
				<% if (source) { %>
					<% $.each(source, function(i, s){ %>
					<%
						var selected = false;
						if (article.source) {
							if (article.source['id'] == s.id) {
								selected = true;
							}
						}
					%>
						<option value="<%= s.resource_uri %>" <%= selected ? "selected=selected" : "" %>><%= s.name %></option>
					<% }) %>
				<% } %>
				</select>
				<span class="help-inline"></span>
				<button class="btn btn-mini add-source" data-target="article-source"><%= $.t('add new source')%></button>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="content"><%= $.t('Content')%></label>
			<div class="controls pull-left">
				<textarea class="content" rows="10" name="content" placeholder="<%= $.t('Add Content')%>"><%= article.content %></textarea>
				<span class="help-inline"></span>
			</div>
			<div class="box-snippet"></div>
		</div>

		<div class="control-group row" id="photos-preview"></div>

		<div class="control-group row">
			<label class="control-label" for="description"><%= $.t('Description')%></label>
			<div class="controls">
				<textarea class="description" name="description" id="description" placeholder="<%= $.t('Add Description')%>"><%= article.description %></textarea>
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="photo"><%= $.t('Photo')%></label>
			<div class="controls photo">
				<%
				var titlePhotoInserted = false;
				if (article.photo && article.photo.public_url) {
					titlePhotoInserted = true;
				} %>
				<div class="title-photo-empty" <%= titlePhotoInserted === false ? '' : 'style=display:none' %>>
					<button class="btn btn-mini add-photo"><%= $.t('add photo')%></button>
				</div>
				<div class="title-photo" <%= titlePhotoInserted === true ? '' : 'style=display:none' %>>
					<img src="<%= article.photo ? article.photo.public_url : '' %>" />
					<button class="btn btn-mini remove-photo"><%= $.t('remove photo')%></button>
				</div>
				<input type="hidden" name="photo" value="<%= article.photo ? article.photo.resource_uri : '' %>" />
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group row">
			<div class="span4 pull-left" style="margin-left: 0">
				<label class="control-label"><%= $.t('Related articles')%></label>
				<ul id="chosen-related-articles" class="connectedSortable">
					<% if (relatedArticles.length) { %>
						<% $.each(relatedArticles, function(i, a) { %>
							<li data-resource_id="<%= a.id %>">
								<%= a.related.title %> <i class="icon-remove pull-right remove-related"></i>
							</li>
						<% }); %>
					<% } %>
				</ul>
			</div>

			<div class="span4 pull-left">
				<label><%= $.t('Articles that can be added as related')%></label>
				<ul id="found-related-articles" class="connectedSortable">
				</ul>
			</div>

			<div class="span2 pull-left">
				<label>&nbsp;</label>
				<div class="control-group row" style="margin:0">
					<button class="btn btn-mini get-related-articles"><%= $.t('get related articles')%></button>
				</div>
				&nbsp;
				<div class="control-group row" style="margin:0">
					<input type="text" class="span1 pull-left" name="related-name" placeholder="<%= $.t('Name') %>" />
					&nbsp;
					<button class="btn btn-mini get-articles-by-name"><%= $.t('find by name')%></button>
				</div>
			</div>
		</div>

		<div class="control-group row pull-left">
			<div class="span4 pull-left" style="margin-left: 0">
				<label class="control-label" for="publish_from"><%= $.t('Publish From')%></label>
				<div class="controls">
					<input class="span2 publish_from" type="datetime-local" name="publish_from_date" id="publish_from" value="<%= article.publish_from_date %>" />

					<input type="text" class="timepicker-default span1 publish_from" name="publish_from_time" id="publish_from_time" value="<%= article.publish_from_time %>" />

					<button class="btn btn-mini set-date-now" data-target-date="publish_from_date"><%= $.t('today') %></button>
					<button class="btn btn-mini set-datetime-now" data-target-date="publish_from_date"
						data-target-time="publish_from_time"><%= $.t('now') %></button>

					<span class="help-inline"></span>
				</div>
			</div>
		</div>
		<div class="control-group row">
			<div class="span4 pull-left">
				<label class="control-label" for="publish_to"><%= $.t('Publish To')%></label>
				<div class="controls">
					<input class="span2 publish_to" type="datetime-local" name="publish_to_date" id="publish_to" value="<%= article.publish_to_date %>" />

					<input type="text" class="timepicker-default span1" name="publish_to_time" id="publish_to_time" value="<%= article.publish_to_time %>" />

					<button class="btn btn-mini set-date-now" data-target-date="publish_to_date"><%= $.t('today') %></button>
					<button class="btn btn-mini set-datetime-now" data-target-date="publish_to_date"
						data-target-time="publish_to_time"><%= $.t('now') %></button>

					<span class="help-inline"></span>
				</div>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="tags"><%= $.t('Tag(s)')%></label>
			<div class="controls">
				<select name="tags[]" data-placeholder="<%= $.t('Choose tags')%>" class="chzn-select article-tags span4" multiple>
				<% if (tag) { %>
					<% $.each(tag, function(i, t){ %>
					<%
						var selected = false;
						if (article.tags) {
							for (var i = 0; i < article.tags.length; i++) {
								if (article.tags[i]['id'] == t.id) {
									selected = true;
									break;
								}
							}
						}
					%>
						<option value="<%= t.resource_uri %>" <%= selected ? "selected=selected" : "" %>><%= t.name %></option>
					<% }) %>
				<% } %>
				</select>
				<span class="help-inline"></span>
				<button class="btn btn-mini add-tag-articles" data-target="article-tags"><%= $.t('add new tag')%></button>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="display-options"><%= $.t('Display options')%></label>

			<label class="checkbox">
				<input class="commercial" type="checkbox" name="commercial" <%= article.commercial ? 'checked' : '' %> value="true" /> <%= $.t('Commercial')%>
				<span class="help-inline"></span>
			</label>

			<label class="checkbox">
				<input class="photo-displayed" type="checkbox" name="photo_displayed" <%= article.photo_displayed === false ? 'checked' : '' %> value="false" /> <%= $.t('Article without photo')%>
				<span class="help-inline"></span>
			</label>

			<label class="checkbox">
				<input class="article-parameter" disabled="disabled" type="checkbox" name="article-parameter" <%= article.article_parameter ? 'checked' : '' %> value="true" /> <%= $.t('Article parameter')%>
				<span class="help-inline"></span>
			</label>
		</div>

		<div class="control-group row">
			<label class="control-label" for="state"><%= $.t('Enable comments')%></label>
			<div class="controls">
				<select name="enable_comments" data-placeholder="<%= $.t('Article comments')%>" class="enable_comments">
					<option></option>
					<% if (comments) { %>
						<% $.each(comments, function(i, comment){ %>
						<%
							var selected = false;
							if (article.enable_comments == comment) {
								selected = true;
							}
						%>
							<option value="<%= comment %>" <%= selected ? "selected=selected" : "" %>>
								<%= comment %>
							</option>
						<% }) %>
					<% } %>
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="state"><%= $.t('State')%></label>
			<div class="controls">
				<select name="state" id="state" data-placeholder="<%= $.t('Choose state')%>" class="chzn-select state">
				<% if (states) { %>
					<% $.each(states, function(i, state){ %>
					<%
						var selected = false;
						if (article.state == state) {
							selected = true;
						}
					%>
						<option value="<%= state %>" <%= selected ? "selected=selected" : "" %>>
							<%= state %>
						</option>
					<% }) %>
				<% } %>
				</select>
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group row">
			<label class="control-label" for="published"><%= $.t('Published')%></label>
			<div class="controls">
				<input class="published" type="checkbox" name="published" id="published" <%= article.published ? 'checked' : '' %> value="true" />
				<span class="help-inline"></span>
			</div>
		</div>

	</form>

	<div class="control-group row">
		<div class="buttons">
			<a href="javascript://" class="btn btn-primary article-save"><%= $.t('Save and leave')%></a>
			<a href="javascript://" class="btn btn-info autosave"
				data-normal="<%= $.t('Autosave')%>"
				data-saving="<%= $.t('Saving...')%>">
				<%= $.t('Autosave')%></a>
			<a href="javascript://" class="btn btn-info preview"><%= $.t('Preview')%></a>
			<!--<a href="javascript://" class="btn cancel"><%= $.t('Close without saving')%></a>-->
		</div>
	</div>
</div>

<!-- modal dialogs -->
<div class="modal hide fade author-modal-articles" tabindex="-1" role="dialog" aria-labelledby="author-modal-articles" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="author-modal-articles"><%= $.t('Add new author') %></h3>
	</div>
	<div class="modal-body">
		<form>
			<label for="name">Name</label>
			<input type="text" name="name" />

			<label for="slug">Slug</label>
			<input type="text" name="slug" />

			<button class="btn btn-mini slug-from-name"><%= $.t('slug from name')%></button>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn close-author" data-dismiss="modal"><%= $.t('Close') %></button>
		<button class="btn btn-primary insert-author"><%= $.t('Insert') %></button>
	</div>
</div>

<div id="photos-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="photos-modal" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="photos-modal-label"><%= $.t('Insert image') %></h3>
	</div>
	<div class="modal-body">

		<div class="control-group">
			<button class="btn btn-primary new-photo"><%= $.t('New photo') %></button>
		</div>

		<div class="photos-list"></div>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" aria-hidden="true" class="btn close-photo"><%= $.t('Close') %></button>
		<button class="btn btn-primary insert-photo"><%= $.t('Insert') %></button>
	</div>
</div>

<div class="modal hide fade source-modal-articles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><%= $.t('Add new source') %></h3>
	</div>
	<div class="modal-body">
		<form>
			<label for="name"><%= $.t('Name')%>
				<input type="text" name="name" />
			</label>
			<label for="url"><%= $.t('Url')%>
				<input type="text" name="url" />
			</label>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn close-source" data-dismiss="modal"><%= $.t('Close') %></button>
		<button class="btn btn-primary insert-source"><%= $.t('Insert') %></button>
	</div>
</div>

<div class="modal hide fade tag-modal-articles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><%= $.t('Add new tag') %></h3>
	</div>
	<div class="modal-body">
		<form>
			<label for="name"><%= $.t('Name')%></label>
			<input type="text" name="name" />

			<label for="author-slug"><%= $.t('Slug')%></label>
			<input type="text" name="slug" />

			<button class="btn btn-mini slug-from-name"><%= $.t('slug from name')%></button>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn close-tag" data-dismiss="modal"><%= $.t('Close') %></button>
		<button class="btn btn-primary insert-tag"><%= $.t('Insert') %></button>
	</div>
</div>

<div id="draft-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><%= $.t('Drafts / Templates') %></h3>
	</div>
	<div class="modal-body">
		<% if (drafts.length) { %>
			<table class="table">
				<tr>
					<th><%= $.t('ID')%></th>
					<th><%= $.t('Title')%></th>
					<th><%= $.t('Created')%></th>
					<th><%= $.t('Action')%></th>
				</tr>
				<% $.each(drafts, function(i, draft){ %>
					<tr>
					<%
					var timestamp = Date.parse(draft.timestamp);
					var draftDate = timestamp.toString('yyyy-MM-dd');
					var draftTime = timestamp.toString('HH:mm');
					var label = draft.data.title + ' (' + draftDate + ' ' + draftTime + ')';

					var editUrl = can.route.url({ page: 'articles', action: 'edit-draft', id: draft.id });
					var deleteUrl = can.route.url({ page: 'articles', action: 'delete-draft', id: draft.id });
					%>
						<td><%= draft.id %></td>
						<td><%= draft.data.title %></td>
						<td><%= draftDate %> <%= draftTime %></td>
						<td>
							<!-- Edit -->
							<a <%= (el) -> el.data( 'article', draft ) %> href="<%= editUrl %>" class="btn btn-mini edit-draft">
								<%= $.t('Edit');%> <i class="icon-pencil"></i>
							</a>

							<!-- Delete -->
							<a <%= (el) -> el.data( 'article', draft ) %> href="javascript://" class="btn btn-mini btn-danger delete" data-confirm="<%= $.t('Are you sure you want to delete the draft?') %>"><%= $.t('Delete');%> <i class="icon-trash icon-white"></i></a>
						</td>
					</tr>
				<% }) %>
			</table>
		<% } %>
	</div>
	<div class="modal-footer">
		<button class="btn close-draft" data-dismiss="modal"><%= $.t('Close') %></button>
	</div>
</div>
