<div class="page-header">
	<h1><%= $.t('Articles') %></h1>
</div>

<a href="<%= can.route.url({ page: 'articles', action: 'new' })%>" class="btn btn-primary"><%= $.t('New article') %></a>

<div class="pull-right">
	<form class="form-search pull-left">
		<input type="text" class="input-medium search-query" placeholder="<%= $.t('Search articles by title') %>" />
		<button type="submit" class="btn search-articles"><%= $.t('Search')%></button>
	</form>
</div>

<div class="pull-right">
	<button type="submit" class="btn"><%= $.t('Filter')%></button>
	&nbsp;
</div>

<hr>

<div id="inner-content"></div>