<div class="page-header">
	<h1><%= $.t('Articles') %></h1>
</div>

<a href="<%= can.route.url({ page: 'articles', action: 'new' })%>" class="btn btn-primary"><%= $.t('New article') %></a>

<div class="pull-right">
	<form class="form-search pull-left">
		<input type="text" class="input-medium search-query" placeholder="<%= $.t('Search articles by title') %>" />
		<button type="submit" class="btn search-articles"><%= $.t('Search')%></button>
	</form>
</div>

<div class="pull-right">
	<button type="submit" class="btn filter-articles"><%= $.t('Filter')%></button>
	&nbsp;
</div>

<div class="filter-form">
	<div class="clearfix"></div>
	<form class="form-inline pull-right filter">

		<select class="input-medium chzn-select" name="category" data-placeholder="<%= $.t('Category')%>">
			<option></option>
			<% if (category) { %>
				<% $.each(category, function(i, cat){ %>
					<option value="<%= cat.id %>"><%= cat.title %></option>
				<% }) %>
			<% } %>
		</select>

		<input class="input-small" name="publish_from" type="datetime-local" placeholder="<%= $.t('Publish from') %>" />

		<input class="input-small" name="publish_to" type="datetime-local" placeholder="<%= $.t('Publish to') %>" />

		<select class="input-small chzn-select" name="published" data-placeholder="<%= $.t('Published') %>">
			<option></option>
			<option value="today"><%= $.t('Today') %></option>
			<option value="yesterday"><%= $.t('Yesterday') %></option>
			<option value="week"><%= $.t('Week') %></option>
			<option value="month"><%= $.t('Month') %></option>
		</select>

		<select class="input-small chzn-select" name="state" data-placeholder="<%= $.t('State')%>">
			<option></option>
			<% if (states) { %>
				<% $.each(states, function(i, state){ %>
					<option value="<%= state %>"><%= state %></option>
				<% }) %>
			<% } %>
		</select>

		<select class="input-medium chzn-select" name="author" data-placeholder="<%= $.t('Author')%>">
			<option></option>
			<% if (author) { %>
				<% $.each(author, function(i, author){ %>
					<option value="<%= author.id %>"><%= author.name %></option>
				<% }) %>
			<% } %>
		</select>

		|

		<select class="input-medium chzn-select" name="tag" data-placeholder="<%= $.t('Tag (separate filter)')%>">
			<option></option>
			<% if (tag) { %>
				<% $.each(tag, function(i, t){ %>
					<option value="<%= t.resource_uri %>"><%= t.name %></option>
				<% }) %>
			<% } %>
		</select>
	</form>
	<div class="clearfix"></div>
</div>

<hr>

<div id="inner-content"></div>