<div class="page-header">
	<h1><%= this.model === 'articles' ? $.t('Articles') : $.t('Galleries') %></h1>
</div>

<% if (this.model === 'articles') { %>
	<a href="<%= can.route.url({ page: 'articles', action: 'new' })%>" class="btn btn-primary"><%= $.t('New article') %></a>
<% } else if (this.model === 'galleries') { %>
	<a href="<%= can.route.url({ page: 'galleries', action: 'new' })%>" class="btn btn-primary"><%= $.t('New gallery') %></a>
<% } %>

<div class="pull-right">
	<form class="form-search pull-left">
		<input type="text" class="input-medium search-query" placeholder="<%= $.t('Search articles by title') %>" />
		<button type="submit" class="btn search-articles"><%= $.t('Search')%></button>
	</form>
</div>

<div class="pull-right">
	<button type="submit" class="btn filter-articles">
		<%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? $.t('Hide filter') : $.t('Show filter') %>
	</button>
	&nbsp;
</div>

<div class="filter-form" style="<%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? 'display:block' : 'display:none' %>">
	<div class="clearfix"></div>
	<form class="form-inline pull-right filter">

		<select class="input-medium category-filter" name="category" data-placeholder="<%= $.t('Category')%>">
			<option></option>
		</select>

		<input class="input-small" name="publish_from" type="datetime-local" placeholder="<%= $.t('Publish from') %>" />

		<input class="input-small" name="publish_to" type="datetime-local" placeholder="<%= $.t('Publish to') %>" />

		<select class="input-small chzn-select" name="published" data-placeholder="<%= $.t('Published') %>">
			<option></option>
			<option value="today"><%= $.t('Today') %></option>
			<option value="yesterday"><%= $.t('Yesterday') %></option>
			<option value="week"><%= $.t('Week') %></option>
			<option value="month"><%= $.t('Month') %></option>
		</select>

		<select class="input-small chzn-select" name="state" data-placeholder="<%= $.t('State')%>">
			<option></option>
			<% if (states) { %>
				<% $.each(states, function(i, state){ %>
					<option value="<%= state %>"><%= state %></option>
				<% }) %>
			<% } %>
		</select>

		<select class="input-medium author-filter" name="author" data-placeholder="<%= $.t('Author')%>">
			<option></option>
		</select>

		|

		<select class="input-medium tag-filter" name="tag" data-placeholder="<%= $.t('Tag (separate filter)')%>">
			<option></option>
		</select>

		<button class="btn btn-small btn-inverse reset-filter">
			<%= $.t('Reset filter'); %>
		</button>

	</form>
	<div class="clearfix"></div>
</div>

<hr>

<div id="inner-content"></div>

<div class="pagination pagination-centered pagination-articles">
	<ul>
		<li><a href="#" class="prev">Prev</a></li>
		<li><a href="#" class="next">Next</a></li>
	</ul>
</div>
