<div class="page-header">
	<h1><%= this.model %></h1>
</div>

<a href="<%= can.route.url({ page: this.model, action: 'new' })%>" class="btn btn-primary">
	<%= $.t('Create new item') %>
</a>

<form class="form-horizontal list-filter" id="filter">
	<div class="filter-basic controls-row">
		<div class="pull-right">
			&nbsp; &nbsp;
			<button type="button" class="btn toggle-advanced <%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? 'dropup' : 'dropdown' %>">
				<span class="label-show"><%= $.t('Show advanced') %></span>
				<span class="label-hide"><%= $.t('Hide advanced') %></span>
				<span class="caret"></span>
			</button>
			<button type="button" class="btn btn-inverse reset-filter">
				<%= $.t('articles.reset_filter'); %>
			</button>
		</div>

		<div class="input-append pull-right">
			<input type="text" name="titleslug" class="input-medium" placeholder="<%= $.t('search by title or slug') %>" />
			<button type="submit" class="btn filter-items"><%= $.t('articles.search')%></button>
		</div>
	</div>

	<div class="filter-advanced controls-row" style="<%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? 'display:block' : 'display:none' %>">
		<div class="pull-right" style="padding:15px;">
			<input class="input-small" name="publish_from" type="text" placeholder="<%= $.t('articles.publish_from') %>" />
			<input class="input-small" name="publish_until" type="text" placeholder="<%= $.t('published until') %>" />

			<select class="input-medium category-filter" name="category" data-placeholder="<%= $.t('articles.category')%>">
				<option></option>
			</select>

			<select class="input-small chzn-select" name="published" data-placeholder="<%= $.t('articles.published') %>">
				<option></option>
				<option value="today"><%= $.t('articles.today') %></option>
				<option value="yesterday"><%= $.t('articles.yesterday') %></option>
				<option value="week"><%= $.t('articles.week') %></option>
				<option value="month"><%= $.t('articles.month') %></option>
			</select>

			<select class="input-small chzn-select" name="state" data-placeholder="<%= $.t('articles.state')%>">
				<option></option>
				<% if (states) { %>
					<% $.each(states, function(i, state){ %>
						<option value="<%= state %>"><%= state %></option>
					<% }) %>
				<% } %>
			</select>

			<select class="input-medium author-filter" name="author" data-placeholder="<%= $.t('articles.author')%>">
				<option></option>
			</select>
			|
			<select class="input-medium tag-filter" name="tag" data-placeholder="<%= $.t('articles.tags_filter')%>">
				<option></option>
			</select>
		</div>
	</div>
</form>

<hr/>

<div id="inner-content"></div>

<div class="pagination pagination-centered pagination-articles">
	<ul>
		<li><a href="#" class="prev"><%= $.t('common.prev'); %></a></li>
		<li><a href="#" class="next"><%= $.t('common.next'); %></a></li>
	</ul>
</div>
