<div class="page-header">
	<h1><%= this.model === 'articles' ? $.t('articles.articles') : $.t('articles.galleries') %></h1>
</div>

<% if (this.model === 'articles') { %>
	<a href="<%= can.route.url({ page: 'articles', action: 'new' })%>" class="btn btn-primary"><%= $.t('articles.new_article') %></a>
<% } else if (this.model === 'galleries') { %>
	<a href="<%= can.route.url({ page: 'galleries', action: 'new' })%>" class="btn btn-primary"><%= $.t('articles.new_gallery') %></a>
<% } %>

<div class="pull-right">
	<form class="form-search pull-left">
	    <div class="input-append">
		    <input type="text" class="input-medium search-query" placeholder="<%= $.t('articles.search_by_title') %>" />
		    <button type="submit" class="btn search-articles"><%= $.t('articles.search')%></button>
		</div>
	</form>
</div>

<div class="pull-right">
	<button type="submit" class="btn filter-articles">
		<%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? $.t('articles.hide_filter') : $.t('articles.show_filter') %>
	</button>
	&nbsp;
</div>

<div class="filter-form" style="<%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? 'display:block' : 'display:none' %>">
	<div class="clearfix"></div>
	<form class="form-inline pull-right filter">

		<select class="input-medium category-filter" name="category" data-placeholder="<%= $.t('articles.category')%>">
			<option></option>
		</select>

		<input class="input-small" name="publish_from" type="datetime-local" placeholder="<%= $.t('articles.publish_from') %>" />

		<input class="input-small" name="publish_to" type="datetime-local" placeholder="<%= $.t('articles.publish_to') %>" />

		<select class="input-small chzn-select" name="published" data-placeholder="<%= $.t('articles.published') %>">
			<option></option>
			<option value="today"><%= $.t('articles.today') %></option>
			<option value="yesterday"><%= $.t('articles.yesterday') %></option>
			<option value="week"><%= $.t('articles.week') %></option>
			<option value="month"><%= $.t('articles.month') %></option>
		</select>

		<select class="input-small chzn-select" name="state" data-placeholder="<%= $.t('articles.state')%>">
			<option></option>
			<% if (states) { %>
				<% $.each(states, function(i, state){ %>
					<option value="<%= state %>"><%= state %></option>
				<% }) %>
			<% } %>
		</select>

		<select class="input-medium author-filter" name="author" data-placeholder="<%= $.t('articles.author')%>">
			<option></option>
		</select>

		|

		<select class="input-medium tag-filter" name="tag" data-placeholder="<%= $.t('articles.tags_filter')%>">
			<option></option>
		</select>

		<button class="btn btn-small btn-inverse reset-filter">
			<%= $.t('articles.reset_filter'); %>
		</button>

	</form>
	<div class="clearfix"></div>
</div>

<hr>

<div id="inner-content"></div>

<div class="pagination pagination-centered pagination-articles">
	<ul>
		<li><a href="#" class="prev"><%= $.t('common.prev'); %></a></li>
		<li><a href="#" class="next"><%= $.t('common.next'); %></a></li>
	</ul>
</div>
