<div class="js-removable-item js-listing-items-group form-group bg-info" <%= (el) -> el.data( 'instance', listing ) %> data-model="<%= listing.prefix %>">
		<button class="close js-remove-item">
				&times;
		</button>
		<input type="hidden" name="<%= listing.prefix %>_id" value="<%= listing.id %>"/>

		<%

		var publish_from_date;
		var publish_from_time;
		var publish_to_date;
		var publish_to_time;

		var publishFrom = Date.parse(listing.publish_from);
		if (publishFrom) {
				publish_from_date = publishFrom.toString('yyyy-MM-dd');
				publish_from_time = publishFrom.toString('HH:mm');
		}

		var publishTo = Date.parse(listing.publish_to);
		if (publishTo) {
				publish_to_date = publishTo.toString('yyyy-MM-dd');
				publish_to_time = publishTo.toString('HH:mm');
		}

		%>

				<div class="form-group clearfix">
					<div class="col-sm-6">
						<label class="control-label required"><%= $.t('articles.side_category')%></label>
						<div class="control-group">
							<select data-id="<%= listing.id %>" name="<%= listing.prefix %>_category" class="listing_category" data-placeholder="<%= $.t('articles.choose_side_category')%>">
									<option></option>
									<% if (listing.category) { %>
											<option value="<%= listing.category.resource_uri %>" selected="selected"><%= listing.category.full_title %></option>
									<% } %>
							</select>
						</div>
						<span class="help-inline"></span>
						
					</div>
					<div class="col-sm-5">
						<div class="checkbox">
							<label class="checkbox">
								<input type="checkbox" name="<%= listing.prefix %>_commercial" <%= listing.commercial ? 'checked=checked' : '' %> value="true" />
								<%= $.t('articles.side_category_commercial')%>
							</label>
						</div>						
					</div>
				</div>
		<div class="form-group clearfix">

				<div class="col-sm-6 form-group">
		<div class="js-datepicker-group">
				<div class="control-group">
						<label class="control-label required" for="listing_publish_from"><%= $.t('articles.side_category_publish_from')%></label>

						<div class="controls">
								<div class="form-group input-group">
										<input class="form-control publish_from datepicker-default" type="text" name="<%= listing.prefix %>_publish_from_date" value="<%= publish_from_date %>"/>
										<div class="input-group-btn">
											<button class="btn btn-default btn-normal set-date-now" data-target-date="listing_publish_from_date">
													<%= $.t('articles.today') %>
											</button>
										</div>
								</div>
								<div class="input-group">
									<input type="text" class="form-control timepicker-default span1 listing_publish_from" name="<%= listing.prefix %>_publish_from_time" value="<%= publish_from_time %>"/>
									<div class="input-group-btn">
										<button class="btn btn-default btn-normal set-datetime-now" data-target-date="listing_publish_from_date" data-target-time="listing_publish_from_time">
											<%= $.t('articles.now') %>
										</button>
									</div>
								</div>
								<span class="help-inline"></span>
						</div>
				</div>
				
		</div>
				</div>
				
				<div class="col-sm-5 form-group">


								<label class="control-label" for="listing_publish_to"><%= $.t('articles.side_category_publish_to')%></label>

								<div class="form-group controls">
										<div class="input-group form-group">
												<input class="form-control publish_to datepicker-default" type="text" name="<%= listing.prefix %>_publish_to_date" value="<%= publish_to_date %>"/>
												<div class="input-group-btn">
													<button class="btn btn-default btn-normal set-date-now" data-target-date="listing_publish_to_date">
															<%= $.t('articles.today') %>
													</button>
												</div>
										</div>
										<div class="input-group">
											<input type="text" class="form-control timepicker-default span1 listing_publish_to" name="<%= listing.prefix %>_publish_to_time" value="<%= publish_to_time %>"/>
											<div class="input-group-btn">
												<button class="btn btn-default btn-normal set-datetime-now" data-target-date="listing_publish_to_date" data-target-time="listing_publish_to_time">
														<%= $.t('articles.now') %>
												</button>
											</div>
										</div>
										<span class="help-inline"></span>
								</div>
										<div class="">
											 <button class="btn btn-info pull-right js-copy-dates-from-publishable">
											 	<%= $.t('articles.copy_dates') %>
											 </button>
									 </div>
						

				</div>

		</div>


</div>
