<% if (typeof item != "undefined") {
    title = item.title;
    description = item.text;
    %>
	<li data-resource_id="<%= item.id %>" data-order="<%= item.order %>" class="row">
<% } else {
    title = photo.title;
    description = photo.description;
    %>
	<li data-photo-id="<%= photo.resource_uri %>" class="row">
<% } %>
    <i class="icon-remove pull-right remove-recent-photo"></i>
    <div class="pull-left">
	    <img height="60px" src="<%= photo.public_url %>" />
	</div>
	<div data-label="<%= title %>" data-attr="title" class="photo-title">
		<span class="value">
			<%= title %>
		</span>
		<i  class="icon-pencil change-galleryitem-label"  title="<%= $.t('galleries.change_title') %>"></i>
    </div>
    <div data-label="<%= description %>" data-attr="text" class="photo-description">
		<span class="value">
			<%= description %>
		</span>
		<i class="icon-pencil change-galleryitem-label" title="<%= $.t('galleries_change_description') %>"></i>
    </div>
</li>
