<% if (typeof item != "undefined") { title = item.title; %>
	<li data-resource_id="<%= item.id %>" data-title="<%= photo.title %>" data-order="<%= item.order %>">
<% } else { title = photo.title; %>
	<li data-photo-id="<%= photo.resource_uri %>" data-title="<%= photo.title %>">
<% } %>
	<img height="60px" src="<%= photo.public_url %>" />
		<span class="value">
			<%= title %>
		</span>
		<i class="icon-pencil change-galleryitem-title" title="<%= $.t('Change photo\'s title') %>"></i>
	</span>
	<i class="icon-remove pull-right remove-recent-photo"></i>
</li>
