<form id="wikiref-form" data-content="ella_wikipages.wikipage" class="form-horizontal">

    <div class="controls">
        <select class="wikiref-name input-medium" name="slug" data-placeholder="<%= $.t('Wikipage title') %>">
            <option></option>
            <% if (data.lookup_object) { %>
                <option value="<%= data.lookup_object.slug %>">
                    <%= data.lookup_object.title %>
                </option>
            <% } %>
        </select>
    </div>

    <div class="controls">
        <label class="control-label" for="title"><%= $.t('Link title') %></label>
    </div>

    <div class="controls">
        <input type="text" name="title" value="<%= data.title %>" />
    </div>

    <div class="controls">
        <button class="btn btn-primary snippet-update"
            <% if (data.lookup_object) { %>
                data-snippet-start=<%= data.snippetPosition.start %>
                data-snippet-end=<%= data.snippetPosition.end %>
            <% } %>
        >
            <%= $.t('articles.insert') %>
        </button>
        <button class="btn snippet-cancel"><%= $.t('cancel') %></button>
    </div>

</form>
