<tr <%= (el) -> el.data( 'photo', photo) %> <%= (el) -> el.data( 'data', data) %>>

	<% if (!this.insideArticle) { %>
		<td><input class="pick" type="radio" name="photo" /></td>

		<td>
			<img class="pick thumbnail" src="<%= photo.thumbnail_url %>" style="width: 80px">
		</td>

		<td><%= photo.title %></td>
	<% } %>

	<% if (!data.title) { %>
		<td>
			<form class="snippet-params" data-content="photos.photo">
				<select class="span2" name="size">
					<option value="mala" <%= data.size == 'mala' ? "selected=selected" : '' %>><%= $.t('photos.small')%></option>
					<option value="standard" <%= data.size == 'standard' ? "selected=selected" : '' %>><%= $.t('photos.medium')%></option>
					<option value="velka" <%= data.size == 'velka' ? "selected=selected" : '' %>><%= $.t('photos.large')%></option>
				</select>
				<select class="span2" name="format">
					<option value="ctverec" <%= data.format == 'ctverec' ? "selected=selected" : '' %>>ctverec</option>
					<option value="nudle_sirka" <%= data.format == 'nudle_sirka' ? "selected=selected" : '' %>>nudle_sirka</option>
					<option value="nudle_vyska" <%= data.format == 'nudle_vyska' ? "selected=selected" : '' %>>nudle_vyska</option>
					<option value="obdelnik_sirka" <%= data.format == 'obdelnik_sirka' ? "selected=selected" : '' %>>obdelnik_sirka</option>
					<option value="obdelnik_vyska" <%= data.format == 'obdelnik_vyska' ? "selected=selected" : '' %>>obdelnik_vyska</option>
				</select>

				<table>
					<tr>
						<td><label for="photo_resizable"><input type="checkbox" name="photo_resizable" value="1"
							<%= data.show_resizable == 1 ? 'checked=checked' : ''  %> />&nbsp;<%= $.t('photos.resizable') %></label>
						</td>
						<td><label for="photo_authors"><input type="checkbox" name="photo_authors" value="1"
							<%= data.show_authors == 1 ? 'checked=checked' : ''  %> />&nbsp;<%= $.t('photos.authors') %></label></td>
					</tr>
					<tr>
						<td><label for="photo_description"><input type="checkbox" name="photo_description" value="1" <%= data.show_description == 1 ? 'checked=checked' : ''  %>/>&nbsp;<%= $.t('photos.description') %></label></td>
						<td><label for="photo_source"><input type="checkbox" name="photo_source" value="1" <%= data.show_source == 1 ? 'checked=checked' : ''  %>/>&nbsp;<%= $.t('photos.source') %></label></td>
					</tr>
					<tr>
						<td><label for="photo_title"><input type="checkbox" name="photo_title" value="1" <%= data.show_title == 1 ? 'checked=checked' : ''  %>/>&nbsp;<%= $.t('photos.title') %></label></td>
					</tr>
				</table>

				<label for="photo_align">
					<%= $.t('Align')%>:&nbsp;
					<select class="span2" name="photo_align">
						<option value="none" <%= data.align == 'none' ? "selected=selected" : '' %>><%= $.t('photos.none')%></option>
						<option value="right" <%= data.align == 'right' ? "selected=selected" : '' %>><%= $.t('photos.right')%></option>
						<option value="left" <%= data.align == 'left' ? "selected=selected" : '' %>><%= $.t('photos.left')%></option>
						<option value="center" <%= data.align == 'center' ? "selected=selected" : '' %>><%= $.t('photos.center')%></option>
					</select>
				</label>

				<label for="external_url">
					<%= $.t('photos.external_url')%>:&nbsp;
					<input class="span2" type="text" name="url" />
				</label>
			</form>
		</td>
	<% } %>


	<% if (this.insideArticle) { %>
		<td>
			<img class="max200" src="<%= photo.public_url %>" />
		</td>
	<% } %>
</tr>
