<form data-content="ella_galleries.gallery">

    <div class="row">
        <select class="item-name input-medium" name="id" data-placeholder="<%= $.t('Gallery title') %>">
            <option></option>
            <% if (data.lookup_object) { %>
                <option value="<%= data.lookup_object.id %>">
                    <%= data.lookup_object.title %>
                </option>
            <% } %>
        </select>
    </div>
    <div class="row">
        <label class="control-label" for="item_title"><%= $.t('Link title') %></label>
        <input type="text" name="item_title" value="<%= data.title %>" />
    </div>

    <button class="btn btn-primary snippet-update"
        <% if (data.lookup_object) { %>
            data-snippet-start=<%= data.snippetPosition.start %>
            data-snippet-end=<%= data.snippetPosition.end %>
        <% } %>
    >
        <%= $.t('articles.insert') %>
    </button>
    <button class="btn snippet-cancel"><%= $.t('cancel') %></button>
</form>
