<div class="page-header">
	<h1><%= $.t('photos.heading') %></h1>
</div>

<a href="<%= can.route.url({ page: 'photos', action: 'new-photos' })%>" class="btn btn-primary"><%= $.t('photos.new_photo') %></a>
<a href="<%= can.route.url({ page: 'photos', action: 'new-videos' })%>" class="btn btn-primary"><%= $.t('photos.new_video') %></a>

<div class="pull-right">
	<form class="form-search pull-left">
		<input type="text" class="input-medium search-query" placeholder="<%= $.t('photos.search_by_title') %>" />
		<button type="submit" class="btn search-photos"><%= $.t('photos.search')%></button>
	</form>
</div>

<div class="pull-right">
	<button type="submit" class="btn filter-photos"><%= $.t('photos.filter')%></button>
	&nbsp;
</div>

<div class="filter-form" style="<% if ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') { %>display:block<% } else { %>display:none<% } %>">
	<div class="clearfix"></div>
	<form class="form-inline pull-right filter">

		<select class="input-medium author-filter" name="author" data-placeholder="<%= $.t('photos.author')%>">
			<option></option>
		</select>

		<select class="input-medium tag-filter" name="tag" data-placeholder="<%= $.t('photos.tag')%>">
			<option></option>
		</select>

		|

		<button class="btn btn-small btn-inverse reset-filter">
			<%= $.t('photos.reset_filter'); %>
		</button>
	</form>
	<div class="clearfix"></div>
</div>

<hr>

<div id="inner-content"></div>

<div class="pagination pagination-centered">
	<ul>
		<li><a href="#" class="prev"><%= $.t('common.prev') %></a></li>
		<li><a href="#" class="next"><%= $.t('common.next') %></a></li>
	</ul>
</div>