<div class="page-header">
	<h1><%= this.model %></h1>
</div>

<a href="<%= can.route.url({ page: 'photos', action: 'new-photos' })%>" class="btn btn-primary">
	<%= $.t('photos.new_photo') %>
</a>
<a href="<%= can.route.url({ page: 'photos', action: 'new-videos' })%>" class="btn btn-primary">
	<%= $.t('photos.new_video') %>
</a>

<form class="form-horizontal list-filter" id="filter">
	<div class="filter-basic controls-row">
		<div class="pull-right">
			&nbsp; &nbsp;
			<button type="button" class="btn toggle-advanced <%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? 'dropup' : 'dropdown' %>">
				<span class="label-show"><%= $.t('Show advanced') %></span>
				<span class="label-hide"><%= $.t('Hide advanced') %></span>
				<span class="caret"></span>
			</button>
			<button type="button" class="btn btn-inverse reset-filter">
				<%= $.t('articles.reset_filter'); %>
			</button>
		</div>

		<div class="input-append pull-right">
			<input type="text" name="title" class="input-medium" placeholder="<%= $.t('search by title') %>" />
			<button type="submit" class="btn filter-items"><%= $.t('articles.search')%></button>
		</div>
	</div>

	<div class="filter-advanced controls-row" style="<%= ($.cookie(window.HOPECFG.COOKIE_FILTER) == 'true') ? 'display:block' : 'display:none' %>">
		<div class="pull-right" style="padding:15px;">

			<select class="input-medium author-filter" name="author" data-placeholder="<%= $.t('photos.author')%>">
				<option></option>
			</select>

			<select class="input-medium tag-filter" name="tag" data-placeholder="<%= $.t('photos.tag')%>">
				<option></option>
			</select>
		</div>
	</div>
</form>

<hr/>

<div id="inner-content"></div>

<div class="pagination pagination-centered">
	<ul>
		<li><a href="#" class="prev"><%= $.t('common.prev') %></a></li>
		<li><a href="#" class="next"><%= $.t('common.next') %></a></li>
	</ul>
</div>
