<table class="table table-striped">
	<thead>
		<tr>
			<th><%= $.t('photos.image') %></th>
			<th><%= $.t('photos.title') %></th>
			<th><%= $.t('photos.description') %></th>
			<th><%= $.t('photos.action') %></th>
		</tr>
	</thead>
	<tbody>
		<% list(this.photos, function( photo ) { %>
			<%
			var editUrl = can.route.url({ page: 'photos', action: 'edit', id: photo.id });
			%>
			<tr>
				<td><a href="<%== editUrl %>"><img height="60" src="<%= photo.public_url %>" /></a></td>
				<td><a href="<%== editUrl %>"><%= photo.title %></a></td>
				<td><%= photo.description %></td>
				<td>
					<!-- Edit -->
					<a <%= (el) -> el.data( 'photo', photo ) %> href="<%= editUrl %>" class="btn btn-mini edit-photo">
						<%= $.t('photos.edit');%> <i class="icon-pencil"></i>
					</a>

					<!-- Delete -->
					<a <%= (el) -> el.data( 'photo', photo ) %> href="javascript://" class="btn btn-mini btn-danger delete" data-confirm="<%= $.t('photos.confirm_delete_photo') %>"><%= $.t('photos.delete');%> <i class="icon-trash icon-white"></i></a>
				</td>
			</tr>
		<% } ) %>
	</tbody>
</table>