<table class="table table-striped">
	<thead>
		<tr>
			<th><%= $.t('photos.image') %></th>
			<th><%= $.t('photos.title') %></th>
			<th><%= $.t('photos.description') %></th>
			<th><%= $.t('photos.action') %></th>
		</tr>
	</thead>
	<tbody>
		<% list(this.photos, function( photo ) { %>
			<%
			var editUrl = can.route.url({ page: 'photos', action: 'edit', id: photo.id });
			%>
			<tr>
				<td>
				    <a href="<%== editUrl %>">
				        <img style="width:120px;" src="<%= photo.public_url %>" class="thumbnail" >
				    </a>
				</td>
				<td><a href="<%== editUrl %>"><%= photo.title %></a></td>
				<td><%= photo.description %></td>
				<td>
					<div class="btn-group" style="min-width: 80px;">
						<!-- Edit -->
						<a <%= (el) -> el.data( 'photo', photo ) %> href="<%= editUrl %>" class="btn btn-sm btn-default edit-photo" title="<%= $.t('photos.edit');%>">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
	
						<!-- Delete -->
						<a <%= (el) -> el.data( 'photo', photo ) %> href="javascript://" class="btn btn-sm btn-default delete" data-confirm="<%= $.t('photos.confirm_delete_photo') %>" title="<%= $.t('photos.delete');%>"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</td>
			</tr>
		<% } ) %>
	</tbody>
</table>
