<div class="page-header">
	<h1><%= $.t('photos.upload_heading') %></h1>
</div>

<form class="uploadForm" method="PATCH" enctype="multipart/form-data">

	<input type="hidden" name="MAX_FILE_SIZE" value="50000000"/>
	<input type="hidden" name="id" id="id" <%= photo.id ? "value=" + photo.id : "" %> />
  <input type="hidden" name="orig_width" id="orig_width" <%= photo.width ? "value=" + photo.width : "" %> />
  <input type="hidden" name="orig_height" id="orig_height" <%= photo.height ? "value=" + photo.height : "" %> />

	<% if (this.photo && this.photo.attr('id')) { %>
		<%== can.view.render( window.HOPECFG.APP_ROOT + '/photos/views/photo.ejs', {
			photo: photo,
			isPlaceholder: false
		}) %>

	<% } else { %>

	<div class="hero-unit">
		<div class="defaults">
			<h3>
				<%= $.t('photos.default_values')%>
			</h3>
			<div class="row">
				<select name="filename_default">
					<option value=""><%= $.t('photos.use_filename')%></option>
					<option value="title"><%= $.t('photos.title');%></option>
					<option value="description"><%= $.t('photos.description');%></option>
				</select>
			</div>

			<%== can.view.render(window.HOPECFG.APP_ROOT + '/photos/views/photo.ejs', {
				photo: {},
				isPlaceholder: true
			}) %>
		</div>
	</div>

	<div class="hero-unit">
		<div class="row">
			<div>
				<label for="image"><%= $.t('photos.file')%></label>
			</div>
			<input type="file" id="file" name="attached_object" multiple/>
		</div>
	</div>

	<h3>
		<%= $.t('photos.chosen_images')%>
	</h3>
	<div id="images"></div>

	<div class="row">
		<div class="progress progress-striped active">
			<div class="bar" style="width:0%;"></div>
		</div>
	</div>

	<div class="alert response_msg" style="display:none">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<span></span>
	</div>

	<% } %>
</form>

<div class="form-buttons span2">
	<% if (photo.id) { %>
		<a href="#" class="btn btn-primary photo-save"><%= $.t('photos.save_and_leave')%></a>
	<% } else { %>
		<a href="#" class="btn btn-primary photo-create"><%= $.t('photos.upload_and_leave')%></a>
	<% } %>
</div>
