<%# console.log(file);%>
<div class="upload-image">
    <div class="form">
        <input type="hidden" name="filename" class="filename" value="<%= file ? file.name : '' %>" />
        <div class="row">
            <label for="title"><%= $.t('Title')%></label>
            <input class="span4 title" type="text" id="title" name="title" placeholder="<%= $.t('Add Title')%>"
                value="<%= photo.title %>" <%= photo.title ? "" : "" %>>
        </div>

        <div class="row">
            <label for="authors"><%= $.t('Author(s)')%></label>
            <select name="authors[]"  data-placeholder="<%= $.t('Choose authors')%>" class="chzn-select span4 authors" multiple>
            <% if (author) { %>
                <% $.each(author, function(i, a){ %>
                    <%
                        var selected = false;
                        if (photo.authors) {
                            for (var i = 0; i < photo.authors.length; i++) {
                                if (photo.authors[i]['id'] == a.id) {
                                    selected = true;
                                    break;
                                }
                            }
                        }
                    %>
                    <option value="<%= a.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
                        <%= a.name %>
                    </option>
                <% }) %>
            <% } %>
            </select>
        </div>

        <div class="row">
            <label for="description"><%= $.t('Description')%></label>
            <textarea class="span4 description" name="description" placeholder="<%= $.t('Add Description')%>" <%= photo.description ? "" : "class='empty'" %>><%= photo.description %></textarea>
        </div>

        <%
            var file = file || '';
        %>
    </div>

    <div class="important-part">
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <%= file.name ? file.name : '' %>
                    <%= file.size ? '('+file.size/1000+"kB"+')' : '' %>
                    <br>
                    <input type="radio" name="important-part" value="top" title="<%= $.t('important part - top') %>" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><input type="radio" name="important-part" value="left" title="<%= $.t('important part - left') %>" /></td>
                <td>
                    <%# when editing files, there is going to be an uploaded image %>
                    <% if (photo.public_url) { %>
                        <img class="photo-preview" src="<%= photo.public_url %>" />
                    <% } else { %>
                        <%# when uploading files, there is going to be a preview before upload %>
                        <div class="photo-preview" id="preview-<%=file.size%>"></div>
                    <% } %>
                </td>
                <td><input type="radio" name="important-part" value="right" title="<%= $.t('important part - right') %>" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="radio" name="important-part" value="bottom" title="<%= $.t('important part - bottom') %>" /></td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>

    <div class="clear"></div>
    <hr>
</div>