<%# console.log(file);%>
<div class="upload-image">
    <div class="form">
        <input type="hidden" name="filename" class="filename" value="<%= file ? file.name : '' %>" />
        <input type="hidden" name="important_top"  value="<%= photo ? photo.important_top : '' %>" />
        <input type="hidden" name="important_right"  value="<%= photo ? photo.important_right : '' %>" />
        <input type="hidden" name="important_bottom"  value="<%= photo ? photo.important_bottom : '' %>" />
        <input type="hidden" name="important_left"  value="<%= photo ? photo.important_left : '' %>" />

        <div class="row">
            <label for="title"><%= $.t('Title')%></label>
            <input class="span4 title" type="text" id="title" name="title" placeholder="<%= $.t('Add Title')%>"
                value="<%= photo.title %>" <%= photo.title ? "" : "" %>>
        </div>

        <div class="row">
            <label for="authors"><%= $.t('Author(s)')%></label>
            <select name="authors[]"  data-placeholder="<%= $.t('Choose authors')%>" class="chzn-select span4 authors" multiple>
            <% if (author) { %>
                <% $.each(author, function(i, a){ %>
                    <%
                        var selected = false;
                        if (photo.authors) {
                            for (var i = 0; i < photo.authors.length; i++) {
                                if (photo.authors[i]['id'] == a.id) {
                                    selected = true;
                                    break;
                                }
                            }
                        }
                    %>
                    <option value="<%= a.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
                        <%= a.name %>
                    </option>
                <% }) %>
            <% } %>
            </select>
        </div>

        <div class="row">
            <label for="description"><%= $.t('Description')%></label>
            <textarea class="span4 description" name="description" placeholder="<%= $.t('Add Description')%>" <%= photo.description ? "" : "class='empty'" %>><%= photo.description %></textarea>
        </div>

        <%
            var file = file || '';
        %>
    </div>

    <div class="important-part">
        <%= file.name ? file.name : '' %>
        <%= file.size ? '('+file.size/1000+"kB"+')' : '' %>

        <%# when editing files, there is going to be an uploaded image %>
        <% if (photo.public_url) { %>
            <img class="photo-preview" src="<%= photo.public_url %>" />
        <% } else { %>
            <%# when uploading files, there is going to be a preview before upload %>
            <div class="photo-preview" id="preview-<%=file.size%>"></div>
        <% } %>
    </div>

    <div class="clear"></div>
    <hr>
</div>