<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>
  	<% if (BACKEND_NAME !== undefined || BACKEND_NAME) { %>
  		<%= BACKEND_NAME %>
  	<% } else { %>
  		<%= $.t('project.unknown') %>
  	<% } %>
  </h1>
  <p>This is a template for an admin website. It includes a large callout called the hero unit and three supporting pieces of content.

  <br>

  There will be user-specific data.</p>

</div>


      <!-- Example row of columns -->
      <div class="dashboard row">
        <div class="d-item col-sm-4">
          <h2>Nejnovější <b>články</b></h2>
          <div>
            <% list(articles, function( article ) { %>
						<% var editUrl = can.route.url({ page: 'articles', action: 'edit', id: article.id }); %>
            <% var timestamp = Date.parse(article.publish_from);
							 var articleDate = timestamp.toString('dd.MM.yyyy');

							 %>
              	<a href="<%= editUrl %>" class="list-group-item">
              		<%= article.title %>
              		<span class="label label-success"><%= articleDate %></span>
              	</a>
            <% }) %>
          </div>
          <p class="more">
            <%== can.route.link( $.t('View all &raquo;'), { page: 'articles' }, {className : 'btn'}, false); %>
          </p>
        </div>
        <div class="d-item col-sm-4">
          <h2>Nejnovější <b>galerie</b></h2>
           <p>ToDo: výpis galerie</p>
          <p class="more">
          	<%== can.route.link( $.t('View all &raquo;'), { page: 'galleries' }, {className : 'btn'}, false); %>
          </p>
       </div>
        <div class="d-item col-sm-4">
          <h2>Nejnovější <b>články na díly</b></h2>
           <p>ToDo: výpis videa alebo článkov na díly</p>
          <p class="more">
          	<%== can.route.link( $.t('View all &raquo;'), { page: 'filmstrips' }, {className : 'btn'}, false); %>
          </p>
        </div>
      </div>