<div class="navbar-inner">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<a class="brand" href="<%== can.route.url({ page: 'dashboard' }); %>">D&amp;Z</a>
		<div class="nav-collapse">
			<ul class="nav">
				<li class="dashboard"><%== can.route.link( $.t('navigation.home'), { page: 'dashboard' }, {}, false); %></li>

				<% if (USER.auth_tree.articles) { %>
					<li class="articles"><%== can.route.link( $.t('navigation.articles'), { page: 'articles' }, {}, false); %></li>
				<% } %>

				<% if (1 || USER.auth_tree.galleries) { %>
					<li class="galleries"><%== can.route.link( $.t('navigation.galleries'), { page: 'galleries' }, {}, false); %></li>
				<% } %>

				<% if (1 || USER.auth_tree.photo) { %>
					<li class="photos"><%== can.route.link( $.t('navigation.photos_videos'), { page: 'photos' }, {}, false); %></li>
				<% } %>

				<% if (USER.auth_tree.contest) { %>
					<li class="contest"><%== can.route.link( $.t('navigation.contests'), { page: 'contest' }); %></li>
				<% } %>

				<% if (USER.auth_tree.quiz) { %>
					<li class="quiz"><%== can.route.link( $.t('navigation.quiz'), { page: 'quiz' }); %></li>
				<% } %>

				<% if (USER.auth_tree.poll) { %>
					<li class="poll"><%== can.route.link( $.t('navigation.polls'), { page: 'poll' }); %></li>
				<% } %>

				<% if (USER.auth_tree.user) { %>
					<li class="user"><%== can.route.link( $.t('navigation.users'), { page: 'user' }); %></li>
				<% } %>

				<% if (USER.auth_tree.admin) { %>
					<li class="admin"><%== can.route.link( $.t('navigation.admin'), { page: 'admin' }); %></li>
				<% } %>

				<li class="dropdown" id="accountmenu">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= $.t('navigation.account_settings') %><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><%= $.t('navigation.profile') %></a></li>
						<li class="divider"></li>
						<li><%== can.route.link( $.t('navigation.logout'), { page: 'user', action: 'logout' }); %></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>