<div class="page-header">
	<h1><%= $.t('Photos/videos') %></h1>
</div>

<a href="<%= can.route.url({ page: 'photos', action: 'new-photos' })%>" class="btn btn-primary"><%= $.t('New photo') %></a>
<a href="<%= can.route.url({ page: 'photos', action: 'new-videos' })%>" class="btn btn-primary"><%= $.t('New video') %></a>


<hr>

<div id="inner-content"></div>