<%# console.log(file);%>
<div class="upload-image">
    <div class="form">
        <input type="hidden" name="filename" class="filename" value="<%= file ? file.name : '' %>" />
        <input type="hidden" name="important_top"  value="<%= photo ? photo.important_top : '' %>" />
        <input type="hidden" name="important_right"  value="<%= photo ? photo.important_right : '' %>" />
        <input type="hidden" name="important_bottom"  value="<%= photo ? photo.important_bottom : '' %>" />
        <input type="hidden" name="important_left"  value="<%= photo ? photo.important_left : '' %>" />
        <input type="hidden" name="rotate" value="0" />

        <div class="row control-group">
            <label for="title"><%= $.t('Title')%></label>
            <input class="span4 title" type="text" id="title" name="title" placeholder="<%= $.t('Add Title')%>"
                value="<%= photo.title %>" <%= photo.title ? "" : "" %>>
            <span class="help-inline"></span>
        </div>

        <div class="row control-group">
            <label for="authors"><%= $.t('Author(s)')%></label>
            <select name="authors[]"  data-placeholder="<%= $.t('Choose authors')%>" class="chzn-select span4 authors-photo authors" multiple>
            <% if (author) { %>
                <% $.each(author, function(i, a){ %>
                    <%
                        var selected = false;
                        if (photo.authors) {
                            for (var i = 0; i < photo.authors.length; i++) {
                                if (photo.authors[i]['id'] == a.id) {
                                    selected = true;
                                    break;
                                }
                            }
                        }
                    %>
                    <option value="<%= a.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
                        <%= a.name %>
                    </option>
                <% }) %>
            <% } %>
            </select>
            <button class="btn btn-mini add-author-photos"><%= $.t('add new author')%></button>
            <span class="help-inline"></span>
        </div>

        <div class="row control-group">
            <label for="description"><%= $.t('Description')%></label>
            <textarea class="span4 description" name="description" placeholder="<%= $.t('Add Description')%>" <%= photo.description ? "" : "class='empty'" %>><%= photo.description %></textarea>
        </div>

        <div class="row control-group">
            <label class="control-label" for="tags"><%= $.t('Tag(s)')%></label>
            <div class="controls">
                <select name="tags[]" data-placeholder="<%= $.t('Choose tags')%>" class="chzn-select photo-tags span4" multiple>
                <% if (tag) { %>
                    <% $.each(tag, function(i, t){ %>
                    <%
                        var selected = false;
                        if (photo.tags) {
                            for (var i = 0; i < photo.tags.length; i++) {
                                if (photo.tags[i]['id'] == t.id) {
                                    selected = true;
                                    break;
                                }
                            }
                        }
                    %>
                        <option value="<%= t.resource_uri %>" <%= selected ? "selected=selected" : "" %>><%= t.name %></option>
                    <% }) %>
                <% } %>
                </select>
                <span class="help-inline"></span>
                <button class="btn btn-mini add-tag-photos" data-target="photo-tags"><%= $.t('add new tag')%></button>
            </div>
        </div>

        <div class="control-group row">
            <label class="control-label" for="source"><%= $.t('Source')%></label>
            <div class="controls">
                <select name="source" data-placeholder="<%= $.t('Choose source')%>" class="chzn-select photo-source">
                    <option></option>
                    <% if (source) { %>
                        <% $.each(source, function(i, s){ %>
                            <%
                                var selected = false;
                                if (photo.source) {
                                    if (photo.source && photo.source['id'] == s.id) {
                                        selected = true;
                                    }
                                }
                            %>
                            <option value="<%= s.resource_uri %>" <%= selected ? "selected=selected" : "" %>><%= s.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <span class="help-inline"></span>
                <button class="btn btn-mini add-source-photos" data-target="photo-source"><%= $.t('add new source')%></button>
            </div>
        </div>

        <%
            var file = file || '';
        %>
    </div>

    <div class="important-part">
        <%= file.name ? file.name : '' %>
        <%= file.size ? '('+file.size/1000+"kB"+')' : '' %>

        <br>

        <%= $.t('Rotate') %>
        <button class="btn btn-small rotate-image" type="button" data-rotation="0">0°</button>
        <button class="btn btn-small rotate-image" type="button" data-rotation="90">90°</button>
        <button class="btn btn-small rotate-image" type="button" data-rotation="180">180°</button>
        <button class="btn btn-small rotate-image" type="button" data-rotation="270">270°</button>

        <br><br>

        <%# when editing files, there is going to be an uploaded image %>
        <% if (photo.public_url) { %>
            <div class="photo-preview"><img src="<%= photo.public_url %>" /></div>
        <% } else { %>
            <%# when uploading files, there is going to be a preview before upload %>
            <div class="photo-preview" id="preview-<%=file.size%>"></div>
        <% } %>

    </div>

    <div class="clear"></div>
    <hr>
</div>

<!-- modal dialogs -->
<div class="modal hide fade author-modal-photos" tabindex="-1" role="dialog" aria-labelledby="author-modal-photos" aria-hidden="true" style="display: none; ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Ă</button>
        <h3 id="author-modal-photos"><%= $.t('Add new author') %></h3>
    </div>
    <div class="modal-body">
        <form>
            <label for="name">Name</label>
            <input type="text" name="name" />

            <label for="slug">Slug</label>
            <input type="text" name="slug" />

            <button class="btn btn-mini slug-from-name"><%= $.t('slug from name')%></button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn close-author" data-dismiss="modal"><%= $.t('Close') %></button>
        <button class="btn btn-primary insert-author"><%= $.t('Insert') %></button>
    </div>
</div>

<div class="modal hide fade source-modal-photos" tabindex="-1" role="dialog" aria-labelledby="source-modal-photos" aria-hidden="true" style="display: none; ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Ă</button>
        <h3 id="source-modal-photos"><%= $.t('Add new source') %></h3>
    </div>
    <div class="modal-body">
        <form>
            <label for="name"><%= $.t('Name')%>
                <input type="text" name="name" />
            </label>
            <label for="url"><%= $.t('Url')%>
                <input type="text" name="url" />
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn close-source"><%= $.t('Close') %></button>
        <button class="btn btn-primary insert-source"><%= $.t('Insert') %></button>
    </div>
</div>

<div class="modal hide fade tag-modal-photos" tabindex="-1" role="dialog" aria-labelledby="tag-modal-photos" aria-hidden="true" style="display: none; ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Ă</button>
        <h3 id="tag-modal-photos"><%= $.t('Add new tag') %></h3>
    </div>
    <div class="modal-body">
        <form>
            <label for="name"><%= $.t('Name')%></label>
            <input type="text" name="name" />

            <label for="author-slug"><%= $.t('Slug')%></label>
            <input type="text" name="slug" />

            <button class="btn btn-mini slug-from-name"><%= $.t('slug from name')%></button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn close-tag"><%= $.t('Close') %></button>
        <button class="btn btn-primary insert-tag"><%= $.t('Insert') %></button>
    </div>
</div>