<%#  console.log(article); %>
<%#  console.log(user); %>

<div class="page-header">
	<h1><%= $.t('Articles - Edit') %></h1>
</div>

<div class="hero-unit">
	<form class="article">

		<input type="hidden" name="id" id="id" <%= article.id ? "value=" + article.id : "" %> />

		<div class="row">
			<div>
				<label for="title"><%= $.t('Title')%></label>
			</div>
			<input class="span4 title" type="text" name="title" id="title" placeholder="<%= $.t('Add Title')%>" 
				value="<%= article.title %>" <%= article.title ? "" : "" %>>
		</div>

		<div class="row">
			<div>
				<label for="category"><%= $.t('Category')%></label>
			</div>
			<select name="category" id="category" data-placeholder="<%= $.t('Choose category')%>" class="chzn-select category">
				<% if (category) { %>
					<% $.each(category, function(i, cat){ %>
					<%
						var selected = false;
						if (article.category) {
							if (article.category.id == cat.id) {
								selected = true;
							}
						}
					%>
						<option value="<%= cat.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
							<%= cat.title %>
						</option>
					<% }) %>
				<% } %>
			</select>
		</div>

		<div class="row">
			<div>
				<label for="authors"><%= $.t('Author(s)')%></label>
			</div>
			<select name="authors[]" id="authors" data-placeholder="<%= $.t('Choose authors')%>" class="chzn-select span4 authors" multiple>
				<% if (author) { %>
					<% $.each(author, function(i, a){ %>
					<%
						var selected = false;
						if (article.authors) {
							for (var i = 0; i < article.authors.length; i++) {
								if (article.authors[i]['id'] == a.id) {
									selected = true;
									break;
								}
							}
						}
					%>
						<option value="<%= a.resource_uri %>" <%= selected ? "selected=selected" : "" %>>
							<%= a.name %>
						</option>
					<% }) %>
				<% } %>
			</select>
		</div>

		<div id="photosModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><%= $.t('Insert image') %></h3>
            </div>
            <div class="modal-body">
            	<table class="table">
				<% list(photos, function(photo, index) { %>
					<tr <%= (el) -> el.data( 'photo', photo) %>>
						<td><input type="radio" name="photo" /></td>
						<td><img src="<%= photo.public_url %>" height="50" /></td>
						<td><%= photo.title %></td>
					</tr>
				<% }); %>
				</table>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal"><%= $.t('Close') %></button>
              <button class="btn btn-primary"><%= $.t('Insert') %></button>
            </div>
          </div>

		<div class="row">
			<div>
				<label for="content"><%= $.t('Content')%></label>
			</div>
			<textarea class="span4 content" rows="10" name="content" id="content" placeholder="<%= $.t('Add Content')%>" <%= article.attr('content') ? "" : "class='empty'" %>><%= article.content %></textarea>

			<a data-target="#photosModal" role="button" class="btn btn-mini" data-toggle="modal"><%= $.t('Insert image')%></a>
		</div>

		<div class="row">
			<div>
				<label for="description"><%= $.t('Description')%></label>
			</div>
			<textarea class="span4 description" name="description" id="description" placeholder="<%= $.t('Add Description')%>" <%= article.attr('description') ? "" : "class='empty'" %>><%= article.description %></textarea>
		</div>

		<div class="row">
			<div class="alert alert-error" id="date-alert">
				<strong><%= $.t('The end date can not be less then the start date') %></strong>
			</div>
		</div>

		<div class="row">
			<div>
				<label for="publish_from"><%= $.t('Publish From')%></label>
			</div>
			<input class="span2 publish_from" type="datetime-local" name="publish_from_date" id="publish_from_date" value="<%= article.publish_from_date %>" />

			<input type="text" class="timepicker-default span1 publish_from" name="publish_from_time" id="publish_from_time" value="<%= article.publish_from_time %>" />
		</div>

		<div class="row">
			<div>
				<label for="publish_to"><%= $.t('Publish To')%></label>
			</div>
			<input class="span2 publish_to" type="datetime-local" name="publish_to_date" id="publish_to_date" value="<%= article.publish_to_date %>" />

			<input type="text" class="timepicker-default span1" name="publish_to_time" id="publish_to_time" value="<%= article.publish_to_time %>" />
		</div>

		<div class="row">
			<div>
				<label for="state"><%= $.t('State')%></label>
			</div>
			<select name="state" id="state" data-placeholder="<%= $.t('Choose state')%>" class="chzn-select state">
				<% if (states) { %>
					<% $.each(states, function(i, state){ %>
					<%
						var selected = false;
						if (article.state == state) {
							selected = true;
						}
					%>
						<option value="<%= state %>" <%= selected ? "selected=selected" : "" %>>
							<%= state %>
						</option>
					<% }) %>
				<% } %>
			</select>
		</div>

		<div class="row">
			<div>
				<label for="published"><%= $.t('Published')%></label>
			</div>
			<input class="published" type="checkbox" name="published" id="published" <%= article.published ? 'checked' : '' %> value="true" />
		</div>

	</form>

	<div class="row">
		<div class="buttons">
			<a href="javascript://" class="btn btn-primary save"><%= $.t('Save')%></a>
			<a href="javascript://" class="btn btn-primary autosave"><%= $.t('Autosave')%></a>
			<a href="javascript://" class="btn cancel"><%= $.t('Cancel')%></a>
		</div>
	</div>
</div>