<% if (this.drafts.length) { %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th><%= $.t('Draft title') %></th>
				<th><%= $.t('Last modified') %></th>
				<th><%= $.t('Actions') %></th>
			</tr>
		</thead>
		<tbody>
			<% list(this.drafts, function( draft ) { %>
				<%
				var timestamp = Date.parse(draft.timestamp);
				var draftDate = timestamp.toString('yyyy-MM-dd');
				var draftTime = timestamp.toString('HH:mm');

				var editUrl = can.route.url({ page: 'articles', action: 'edit-draft', id: draft.id });
				var deleteUrl = can.route.url({ page: 'articles', action: 'delete-draft', id: draft.id });
				%>
				<tr>
					<td><a href="<%== editUrl %>"><%= draft.data.title %></a></td>
					<td><%= draftDate + " " + draftTime %></td>
					<td>
						<!-- Edit -->
						<a <%= (el) -> el.data( 'article', draft ) %> href="<%= editUrl %>" class="btn btn-mini edit-article">
							<%= $.t('Edit');%> <i class="icon-pencil"></i>
						</a>

						<!-- Delete -->
						<a <%= (el) -> el.data( 'article', draft ) %> href="javascript://" class="btn btn-mini btn-danger delete" data-confirm="<%= $.t('Are you sure you want to delete the draft?') %>"><%= $.t('Delete');%> <i class="icon-trash icon-white"></i></a>
					</td>
				</tr>
			<% } ) %>
		</tbody>
	</table>
<% } %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th><%= $.t('Title') %></th>
			<th><%= $.t('Actions') %></th>
		</tr>
	</thead>
	<tbody>
		<% list(this.articles, function( article ) { %>
			<%
			var editUrl = can.route.url({ page: 'articles', action: 'edit', id: article.id });
			var deleteUrl = can.route.url({ page: 'articles', action: 'delete', id: article.id });
			%>
			<tr>
				<td class="article-state <%= article.state %>">&nbsp;</td>
				<td><a href="<%== editUrl %>"><%= article.title %></a></td>
				<td>
					<!-- Edit -->
					<a <%= (el) -> el.data( 'article', article ) %> href="<%= editUrl %>" class="btn btn-mini edit-article">
						<%= $.t('Edit');%> <i class="icon-pencil"></i>
					</a>

					<!-- Delete -->
					<a <%= (el) -> el.data( 'article', article ) %> href="javascript://" class="btn btn-mini btn-danger delete" data-confirm="<%= $.t('Are you sure you want to delete the article?') %>"><%= $.t('Delete');%> <i class="icon-trash icon-white"></i></a>
				</td>
			</tr>
		<% } ) %>
	</tbody>
</table>